.products__container {
    padding-bottom: 5rem;
}


.products__card {
    width: 270px;
}


.products__img{
    margin-bottom: 1rem;

}


.product__title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}


.product__price{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

@media screen and (max-width: 340px){
  .products__card{
    width: 230px;
  }
}

@media screen and (min-width: 1023px){
    .products__container{
        width: 954px;
    }
  }

@media screen and (min-width: 1124px){
    .products__container{
        padding-bottom: 7rem;
    }
  }
